<h3>Comments</h3>
<% @post.comments.each do |comment| %>
    <div class="card m-2">
        <div class="card-block m-5">
            <p class="card-title"><%= comment.username %></p>
            <p  class="card-text"><%= comment.body %></p>
            <%= link_to '[X]', [comment.post, comment],
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        :class => 'btn btn-danger' %>
        </div>
    </div>
<% end %>